absl-py==2.1.0
anyio==3.7.1
asgiref==3.7.2
astunparse==1.6.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cycler==0.12.1
fastapi==0.110.0
fer==22.4.0
flatbuffers>=24.3.25
fonttools==4.49.0
gast==0.5.4
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.64.0
h11==0.14.0
h5py>=3.10.0
httptools==0.6.1
idna==3.7
importlib-metadata==7.0.1
keras==3.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.5.2
matplotlib==3.8.3
mtcnn==0.1.1
numpy==1.26.4
oauthlib==3.2.2
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==23.2
pandas==2.2.1
Pillow==10.2.0
protobuf>=3.20.3,<5.0.0dev
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==1.10.14
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sniffio==1.3.1
starlette==0.36.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.17.1
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
tf-estimator-nightly==2.8.0.dev2021122109
tqdm==4.66.2
typing-extensions==4.10.0
urllib3==2.2.1
uvicorn==0.29.0
watchgod
websockets==12.0
Werkzeug==3.0.2
wrapt==1.16.0
zipp==3.17.0
